body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(15, 15, 15);
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    min-height: 100vh;
    /* Ensure the container takes at least the full viewport height */

    background-image: url(./static/img/binary.jpg);
    /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    /* Reduced padding */
}

#detectionBox {
    background-color: black;
    color: white;
    padding: 5px;
    /* Reduced padding */
    margin-bottom: 5px;
    /* Reduced margin */
    cursor: pointer;
    margin-right: 5px;
    /* Reduced margin */
}

.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    /* Adjusted position */
    right: 20px;
    /* Adjusted position */
}

#uploadBox {
    background-color: rgb(10, 236, 10);
    color: rgb(34, 33, 33);
    padding: 5px;
    /* Reduced padding */
    cursor: pointer;
}

.hidden {
    display: none;
}

#uploadOptions {
    background-color: rgba(36, 35, 35, 0.8);
    padding: 5px;
    /* Reduced padding */
    width: 200px;
    /* Reduced width */
    border-radius: 5px;
}

.input-box {
    background-color: rgba(128, 125, 125, 0.8);
    padding: 5px;
    /* Reduced padding */
    border-radius: 5px;
    cursor: text;
    margin-bottom: 5px;
    /* Reduced margin */
}

.label-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
    /* Reduced margin */
}

label {
    display: block;
    margin-right: 5px;
    /* Reduced margin */
}

input {
    width: calc(100% - 10px);
    /* Reduced width */
    padding: 3px;
    /* Reduced padding */
    margin-top: 3px;
    /* Reduced margin */
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    cursor: text;
}

button {
    background-color: rgb(10, 236, 10);
    color: rgb(34, 33, 33);
    padding: 5px;
    /* Reduced padding */
    border: none;
    border-radius: 3px;
    /* Reduced border radius */
    cursor: pointer;
    opacity: 1;
}

button:hover {
    background-color: darkgreen;
}

#detectionBox:hover {
    background-color: black;
    cursor: default;
}