<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <title>About us</title>
</head>

<body>

    <div class="container">
        <div class="title">
            <h1>TEAM</h1>
        </div>
        <div id="hr1">
            <hr>
        </div>

        <div class="card">
            <div id="img1"></div>
            <h3>Harsh kumar</h3>

        </div>
        <div class="card">
            <div id="img2"></div>
            <h3>Aman</h3>

        </div>
        <div class="card">
            <div id="img3"></div>
            <h3>Tushar</h3>

        </div>
        <div class="card">
            <div id="img4"></div>
            <h3>Aditi</h3>

        </div>
        <div class="card">
            <div id="img5"></div>
            <h3>Shreya</h3>

        </div>
        <div id="hr2">
            <hr>
        </div>

    </div>

</body>

</html>